.hiveContainer,.hiveContainer ul{
	list-style-type: none;	
}
.wrk_idx,.wrk_temp,.wrk_fans{
	width:35px;
	text-align: center;
}
.wrk_fans{
	width:10px;
}
.hhBox{
	width:2%;
	height:20px;
	border-color:black;
	float:left;
}
.wrk_algo_info{
width:50%;
}
 table{
	width:100%;
}