body{
	background-color:	#696969 ;
	color:white;
}
#topBar{
}
#hiveHashrateData,#hiveFarmData{
	float:right;
	width:85%;
	margin-right:2%;
}

h3,h4{
	margin:0;
	padding:0;
	font-size:18px;
}
h3{
	text-align: right;
}
h4{
}

#hiveFarmData{
	width:100%;
	text-align:center;
	font-size:24px;
	padding-bottom:8px;
}
.hrByCoin{

	clear:both;
}
.hrByCoin h4{
	font-size:16px;
	padding-right:2px;
}
.hrByCoin img{
	font-size:18px;
	margin-left:4px;
}
img{
	width:40px;
	height:40px;
}
table{
	  border-collapse: collapse;
	  margin:0;
	  padding:0;
	  float:left;
}


td#hiveWorkersData {
	height:10px;
}
#openWeatherData,#openWeatherData2 > table{
	margin-top:8px;
width:15%;
float:left;
clear:left;

}

#openWeatherData,#openWeatherData2 > small{
	float:left;
}
.hiveContainer{
	clear:right;
	float:left;
}
.hiveContainer,.hiveContainer ul{
	list-style-type: none;	
}

#hiveWorkersData,#hiveHashrateData,#nicehashData,#twoMinersData,#twoMinersDataLastBlocks{
	float:right;
	width:80%;
	margin:1%;
}

#openWeatherData td{
	width:84px;
}
#hiveHashrateData{
	float:left;
	width:80%;
	margin:0;
	margin-left:2%;
	text-align: right;
}

.hrByCoin li{
	width:100%;
	height:4px;
}
.wrk_idx,.wrk_temp,.wrk_fans{
	width:33%;
	text-align: center;
}



#nicehashData th{
	text-align:left;
}

.hhBox{
	width:2%;
	height:4px;
	border-color:black;
	float:left;
}

 table{
	width:100%;
}

.wrk_idx{
	width:400px;
	float:left;
	text-align:right;
}
.coinImg{
	height:20px;
	width:20px;
}
td.iTable {
	float:left;
	width:144 !IMPORTANT;
}

#help{
	float:left;
	clear:both;
	width:90%;
	margin:10%;
}