.hiveContainer,.hiveContainer ul{
	list-style-type: none;	
}

.hrByCoin li{
	width:100%;
	height:52px;
}
.wrk_idx,.wrk_temp,.wrk_fans{
	width:35px;
	text-align: center;
}
.wrk_fans{
	width:10px;
}
.hhBox{
	width:2%;
	height:20px;
	border-color:black;
	float:left;
}
.wrk_algo_info{
width:50%;
}
 table{
	width:100%;
}

.wrk_idx{
	width:400px;
	float:left;
	text-align:right;
}
.coinImg{
	float:left;
	width:48;
}