table{
	  border-collapse: collapse;
	  width:50%;
	  float:left;
}

#openWeatherData,#openWeatherData2 > table{
width:50%;
float:left;
margin:0;
padding:0;
}
#openWeatherData2 > table{
	clear:right;
	padding-bottom:10px;
}
#openWeatherData,#openWeatherData2 > small{
	float:left;
}
.hiveContainer{
	clear:right;
	float:left;
}
.hiveContainer,.hiveContainer ul{
	list-style-type: none;	
}

#hiveWorkersData{
	float:right;
	width:46%;
	margin:2%;
	margin-top:0;
}
#hiveFarmData{
	float:right;

}
.hrByCoin li{
	width:100%;
	height:52px;
}
.wrk_idx,.wrk_temp,.wrk_fans{
	width:35px;
	text-align: center;
}
.wrk_fans{
	width:10px;
}
.hhBox{
	width:2%;
	height:20px;
	border-color:black;
	float:left;
}
.wrk_algo_info{
width:50%;
}
 table{
	width:100%;
}

.wrk_idx{
	width:400px;
	float:left;
	text-align:right;
}
.coinImg{
	float:left;
	width:10 !IMPORTANT;
}
td.iTable {
	float:left;
	width:144 !IMPORTANT;
}

#help{
	float:left;
	clear:both;
	width:90%;
	margin:10%;
}