

h3,h4{
	margin-top:0;
	padding-top:0;
}
h3{
	text-align: right;
}
h4{
	margin-bottom:5px;
}
img{
	width:40px;
	height:40px;
}
table{
	  border-collapse: collapse;
	  margin:0;
	  padding:0;
	  float:left;
}
.hrByCoin{
	width:100%;
	clear:both;
}


#openWeatherData,#openWeatherData2 > table{
width:25%;
float:left;
clear:left;
margin:0;
padding:0;
}
#openWeatherData2 > table{
	clear:right;
	padding-bottom:10px;
}
#openWeatherData,#openWeatherData2 > small{
	float:left;
}
.hiveContainer{
	clear:right;
	float:left;
}
.hiveContainer,.hiveContainer ul{
	list-style-type: none;	
}

#hiveWorkersData{
	float:right;
	width:65%;
	margin:1%;
	margin-top:0;
}
#openWeatherData td{
	width:80px;
}
#hiveFarmData,#hiveHashrateData{
	float:left;
	width:50%;
	margin:0;

}
#hiveHasrateData{
	float:left;
}
.hrByCoin li{
	width:100%;
	height:52px;
}
.wrk_idx,.wrk_temp,.wrk_fans{
	width:35px;
	text-align: center;
}
.wrk_fans{
	width:10px;
}
.hhBox{
	width:2%;
	height:20px;
	border-color:black;
	float:left;
}
.wrk_algo_info{
width:50%;
}
 table{
	width:100%;
}

.wrk_idx{
	width:400px;
	float:left;
	text-align:right;
}
.coinImg{
	float:left;
	width:10 !IMPORTANT;
}
td.iTable {
	float:left;
	width:144 !IMPORTANT;
}

#help{
	float:left;
	clear:both;
	width:90%;
	margin:10%;
}